.cartContainer {
  width: 60%; /* 전체 컨테이너의 너비를 60%로 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 내부 요소 중앙 정렬 */
}

.cartHeader {
  width: 100%; /* cartContainer의 너비에 맞추기 */
  display: flex;
  justify-content: space-between; /* 좌우로 퍼지도록 설정 */
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 2px solid #e0e0e0;
}

.cartHeader label {
  font-size: 16px;
  margin-left: 0;
}

.cartHeader input[type="button"] {
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.cartHeader input[type="button"]:hover {
  color: red;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}

.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
  flex-basis: 10%; /* 이미지가 차지할 비율 */
}

.cartItemDetails {
  flex-basis: 45%; /* 상품 정보 부분이 차지할 비율 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.cartQuantityWrapper {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: center;
  flex-basis: 15%; /* 수량 조절 부분 */
}

.cartQuantity {
  flex-basis: 15%;
  display: flex;
  align-items: center;
}
.cartItemPrice {
  flex-basis: 15%; /* 가격 부분이 차지할 비율 */
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.rmButton {
  flex-basis: 5%; /* 삭제 버튼 부분이 차지할 비율 */
  text-align: center;
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.rmButton:hover {
  color: red;
}

.cartItemPriceOriginal {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
  margin-bottom: 5px;
}

.cartItemPriceDiscounted {
  font-weight: bold;
  color: #444;
  font-size: 16px;
  margin-bottom: 10px;
}

.cartFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
}

.cartFooter .totalPrice {
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.cartQuantity button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  margin: 0 5px;
  color: #000;
}

.stockWarning {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
