/* CartDetail.module.css */
.orderContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.orderTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.userInfo,
.orderItems,
.couponSection,
.totalPrice {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.userInfo h3,
.orderItems h3,
.couponSection h3,
.totalPrice h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.userInfo p,
.orderItems p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.orderItem {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.orderItem:last-child {
  border-bottom: none;
}

.couponSection select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.totalPrice h3 {
  font-size: 1.5rem;
  color: #007bff;
  text-align: right;
}

.payButton {
  width: 100%;
  padding: 15px;
  background-color: #df919e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.payButton:hover {
  background-color: #c7727e;
}

.payButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
