.header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.centerContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  transition: transform 0.3s ease, opacity 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.logo:hover {
  opacity: 0.8; /* 약간 투명하게 변경 */
}

.rightContainer {
  display: flex;
  align-items: center;
}

.rightContainer Link:hover {
  color: #c7727e;
}

.logo {
  width: auto;
  height: 80px;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#pagination button {
  background-color: #df919e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 10px;
}

#pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#pagination span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.alertPopupContainer {
  position: absolute;
  top: 60px;
  text-align: center;
  right: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 20; /* z-index를 20으로 설정하여 슬라이드 버튼보다 위에 표시되도록 수정 */
  width: 320px;
  border-radius: 10px;
}

.alertItem {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.alertItem :hover {
  color: #c7727e; /* 텍스트 색상 변경 */
}

.alertCategoryButton {
  margin-right: 10px;
  background-color: #e0e0e0;
  border: none;
  padding: 7px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alertCategoryButton:hover {
  background-color: #bfbfbf;
}

.noAlerts {
  padding: 20px;
  text-align: center;
  color: #666;
}

/* 읽은 알림 스타일 */
.readAlert {
  background-color: #f1f1f1; /* 읽은 알림은 회색 배경 */
  opacity: 70%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* 읽지 않은 알림 스타일 */
.unreadAlert {
  background-color: #fff; /* 기본 배경색 */
  color: #333; /* 읽지 않은 알림은 진한 텍스트 색상 */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.popupContainer {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  width: 150px;
}

.autoSearchContainer {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%; /* 부모 요소의 너비에 맞게 변경 */
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.autoSearchItem {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.autoSearchItem:hover {
  background-color: #edf5f5;
}

.alertButton {
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  color: #ff5c5c;
  cursor: pointer;

  font-weight: bold;
  transition: color 0.3s;
}

.alertButton:hover {
  color: #ff2d2d;
}

.icon {
  width: 30px;
  height: 30px;
  color: #444;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  color: #c7727e;
  transform: scale(1.1);
}

.styledLink {
  text-decoration: none;
  color: #444;
  font-weight: bold;
  margin-left: 20px;
}

.styledLink:hover {
  color: #c7727e;
}

.notificationWrapper {
  position: relative;
}

.redDot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.searchForm {
  display: flex;
  align-items: center;
  position: relative;
}

.searchSelect {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.searchInput {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all 0.5s ease-in-out;
  margin-right: 0.5rem;

  &:hover,
  &:focus {
    box-shadow: 0 0 1em #00000013;
  }

  &:focus {
    outline: none;
    background-color: #f0eeee;
  }

  &::placeholder {
    font-weight: 100;
    color: #ccc;
  }
}

.searchButton {
  font-family: inherit;
  font-size: inherit;
  background-color: #323232 !important;
  color: #fff !important;
  border: none !important;
  padding: 0.7rem 1rem !important;
  border-radius: 30px !important;
  transition: background-color 0.3s ease-in-out !important;
  cursor: pointer !important;
  margin-top: 0.5rem;
}

.searchButton:hover {
  background-color: #505050 !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 설정 */
  z-index: 9999; /* 다른 요소 위에 표시되도록 설정 */
}

.modal-content {
  background-color: rgba(50, 50, 50, 0.85);
  /* color: white; */
  width: 90%; /* 너비를 90%로 설정 */
  height: 90%; /* 높이를 90%로 설정 */
  /* background-color: rgba(255, 255, 255, 0.9); 모달 창을 반투명하게 설정 */
  /* border-radius: 10px; */
  /* padding: 20px; */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  overflow: auto;
  position: relative;
  backdrop-filter: blur(10px);
}
