.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.centerContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.rightContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 80px;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}

.styledLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 20px;
}

.styledLink:hover {
  color: gray;
}

.notificationWrapper {
  position: relative;
}

.redDot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.searchForm {
  display: flex;
  align-items: center;
  position: relative;
}

.searchSelect {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  margin-right: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.searchInput {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 12em;
  transition: all 0.5s ease-in-out;
  margin-right: 0.5rem;

  &:hover,
  &:focus {
    box-shadow: 0 0 1em #00000013;
  }

  &:focus {
    outline: none;
    background-color: #f0eeee;
  }

  &::placeholder {
    font-weight: 100;
    color: #ccc;
  }
}

.searchButton {
  font-family: inherit;
  font-size: inherit;
  background-color: #323232 !important;
  color: #fff !important;
  border: none !important;
  padding: 0.7rem 1rem !important;
  border-radius: 30px !important;
  transition: background-color 0.3s ease-in-out !important;
  cursor: pointer !important;
  margin-top: 0.5rem;
}

.searchButton:hover {
  background-color: #505050 !important;
}
