/* Login.module.css */
.body {
  text-align: center;
}

.login-container {
  max-width: 400px;
  margin: 80px auto; /* 상단에 여백 추가 */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.login-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}

.login-form button {
  padding: 10px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #3071a9;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #3897f0;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.login-form .error-message {
  color: red;
  margin-bottom: 20px;
}

.login-container div {
  text-align: center;
}

.login-container a {
  color: #3897f0;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}
