/* 공통 스타일 */
body {
  margin: 0;
  background-color: #f5f5f5;
  padding: 0;
  overflow-x: hidden;
  height: auto;
  box-sizing: border-box;
}

/* 페이지 컨테이너 스타일 */
.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* 메인 리뷰 섹션 컨테이너 */
#mainReviewsContainer {
  width: 60%;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

/* 메인 리뷰 섹션 */
#mainReviews {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
/* 리뷰 박스 */
.mainReviewsBox {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
}

/* 리뷰 이미지 */
.mainReviewsBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4/3; /* 비율 유지 */
  max-height: 300px; /* 이미지 높이 제한 */
}

/* 리뷰 텍스트 */
.mainReviewsBox p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: #333;
  overflow-wrap: break-word; /* 긴 텍스트 줄바꿈 */
}

/* 메인 포스트 섹션 스타일 */
#mainPosts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* min-height: 800px; */
  box-sizing: border-box;
}

/* 메인 포스트 섹션 스타일 */
#mainPostsSL {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* min-height: 800px; */
  box-sizing: border-box;
  margin-top: 30px;
}

/* 팝업 모달 스타일 */
.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  position: relative;
  z-index: 1001;
}

.popup-close {
  margin-top: 10px;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mainPostsBox {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px; /* 고정된 너비 */
  height: 250px; /* 고정된 높이 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.mainPostsBox img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1; /* 3:4 비율 설정 */
  border-radius: 8px;
}

.mainPostsBoxSL {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px; /* 하얀 박스의 고정 너비 */
  height: 300px; /* 하얀 박스의 고정 높이 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.mainPostsBoxSL img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.mainPostsBoxSL:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mainPostsBox:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 메인 스타일 섹션 */
#mainStyle {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.mainStyleBox {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.mainStyleBox img {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* 메인 제목 스타일 */
.mainTextTitle {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 20px;
  color: #333;
}

/* 이미지 스타일 */
.image-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.scrollable-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

/* SceneStealer 제목 스타일 */
b {
  display: block;
  text-align: center;
  font-size: 32px;
  color: #444;
  margin-top: 30px;
}

/* 콘텐츠 스타일 */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

/* 카드 섹션 스타일 */
section.card {
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* 슬라이드 컨테이너 */
.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%; /* 슬라이드 2개 */
}

.slide {
  width: 100%;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.card:hover {
  transform: scale(1.05);
  color: #ffffff;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 20%;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 불투명 배경 추가 */
  transform: rotateX(-90deg);
  transform-origin: bottom;
  /* transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4;
}

/* 가로로 배치되는 컨테이너 */
.horizontal-container {
  display: flex;
  justify-content: space-around; /* 요소들을 균등하게 배치 */
  align-items: center; /* 요소들을 수직으로 가운데 정렬 */
  max-width: 1000px; /* 컨테이너 최대 너비 */
  margin: 0 auto; /* 가운데 정렬 */
}

.horizontal-container .card,
.horizontal-container .random-character,
.horizontal-container .random-style-container {
  flex: 1; /* 각 요소가 같은 크기를 가짐 */
  text-align: center; /* 요소 안의 텍스트 및 이미지 가운데 정렬 */
}

.horizontal-container img {
  width: 100%; /* 이미지 너비를 조정 */
  max-width: 250px; /* 이미지의 최대 너비 */
  height: auto; /* 이미지 비율 유지 */
}

/* 카드 섹션 스타일 */
.card {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.random-layout {
  display: flex;
  justify-content: space-between; /* 왼쪽 스타일과 오른쪽 아이템 간의 여백을 균등하게 */
  align-items: flex-start; /* 세로 정렬을 시작점으로 맞춤 */
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
  gap: 30px; /* 캐릭터와 스타일 사이의 간격을 80px로 설정 */
}

.random-style-container {
  flex: 2; /* 스타일 부분을 더 크게 만듦 */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.random-style-items {
  flex: 1;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  gap: 20px; /* 아이템 사이의 간격 */
  justify-content: center;
}

.random-character {
  margin-right: 40px;
}

.random-character img {
  width: 200px !important; /* 캐릭터 이미지 고정 너비 */
  height: 280px !important; /* 캐릭터 이미지 고정 높이 */
  object-fit: cover !important; /* 비율 유지하며 크롭 */
  border-radius: 50% !important; /* 타원 형태 유지 */
  margin: 20px auto !important;
  display: block !important;
}

/* 스타일 이미지 크기 조정 */
.random-style-container img {
  width: 120px; /* 적절한 크기로 줄임 */
  height: 350px; /* 비율 유지하며 크기 조정 */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* 스타일 아이템 크기 조정 */
.random-style-items img {
  width: 100px; /* 정사각형 */
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.mainPhotoSlide {
  position: relative;
  overflow: hidden;
  width: 100%;

  margin-bottom: 20px; /* 슬라이드와 리뷰 사이 여백을 줄입니다 */
}

.slide-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide-content > * {
  width: 100%;
  height: 100%;
}

@keyframes slideArrowHint {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  z-index: 5;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.slide-button.prev {
  left: 20px;
  animation: slideArrowHint 1s ease-in-out infinite;
}

.slide-button.next {
  right: 20px;
  animation: slideArrowHint 1s ease-in-out infinite;
}

.slide-button:hover {
  opacity: 1; /* Hover 시 버튼 더 선명하게 */
}

.slide-button:focus {
  outline: none; /* 포커스 시 테두리 제거 */
}

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

.popup-close {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.refresh-button {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #333; /* 화살표 색상을 #333으로 설정 */
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.refresh-button svg:hover {
  color: #c7727e;
}

.moreButton {
  background-color: #f5f5f5;
  color: #333;
}

.moreButton:hover {
  background-color: #333;
  color: #f5f5f5;
}

.refresh-button:hover {
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  color: #333; /* 화살표 색상을 #333으로 설정 */
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
}

.refresh-button svg {
  width: 1.3rem;
  height: 1.3rem;
  color: #333; /* 화살표 색상을 #333으로 설정 */
}

.refresh-button:focus svg {
  animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.randomItemPic {
  transition: transform 0.3s ease-in-out;
}

.randomItemPic:hover {
  transform: scale(1.1);
}
