.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.orderInfo {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333;
}

.orderInfo span {
  font-weight: bold;
  color: #007bff;
}

.productList {
  margin-bottom: 30px;
}

.productItem {
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productName {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.productQuantity {
  font-size: 1rem;
  color: #666;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d9534f;
}

.reviewButton {
  background-color: #df919e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reviewButton:hover {
  background-color: #c7727e;
}

.userInfo {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.userInfo h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #333;
}

.userInfo p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}

.userInfo span {
  font-weight: bold;
}
