.container {
  max-width: 800px;
  margin: 0 auto;

  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
}

.orderItem {
  padding: 20px;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: box-shadow 0.3s;
}

.orderItem:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.orderHeader {
  font-weight: bold;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderDetails {
  display: grid;
  margin-left: 20px;
  margin-right: 20px;
  grid-gap: 20px; /* 각 열 사이의 간격을 넓혀 보기 좋게 개선 */
  align-items: center; /* 수직 정렬을 중앙으로 맞춤 */
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.orderProductLink {
  text-decoration: none;
  color: #df919e;
  font-weight: bold;
  white-space: nowrap; /* 텍스트를 한 줄로 유지 */
  overflow: hidden;
  text-overflow: ellipsis; /* 넘치는 텍스트는 ... 표시 */
}

.orderProductLink:hover {
  color: #c7727e;
}

.orderPrice {
  font-size: 1.1rem;
  color: #333;
  text-align: right; /* 가격을 오른쪽 정렬 */
}

.orderState {
  font-size: 1rem;
  font-weight: bold;
  color: #a8a5a0;
  text-align: center;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #df919e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 1.1rem;
  color: #333;
}

/* 버튼 기본 스타일 */
.orderDetails button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  justify-self: end; /* 버튼을 오른쪽에 정렬 */
  min-width: 120px;
  text-align: center; /* 버튼 텍스트 가운데 정렬 */
  transition: background-color 0.3s ease;
}

/* 주문 취소하기 */
.orderDetails button.cancel {
  background-color: #dc3545;
  color: white;
}

.orderDetails button.cancel[disabled] {
  visibility: hidden; /* 버튼이 비활성화되면 숨김 처리 */
}

/* 교환/환불하기 */
.orderDetails button.exchange {
  background-color: #ffc107;
  color: white;
}

.orderDetails button.exchange:hover {
  background-color: #e0a800;
}

/* 팝업 스타일 */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.popup h3 {
  margin-bottom: 20px;
  color: #333;
}
