/* PostListByUser.module.css */

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.buttonGroup button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonGroup button:hover {
  background-color: #0056b3;
}

.checkboxGroup {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.postContainer img {
  width: 300px; /* 고정된 너비 */
  height: 200px; /* 고정된 높이 */
  object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너에 맞추기 */
  border-radius: 5px;
  margin-bottom: 10px;
}

.checkboxGroup input[type="checkbox"] {
  margin-right: 10px;
}
.checkboxGroup button {
  margin-right: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  background-color: #eee;
}
.postContainer {
  margin-bottom: 20px;
}

.postContainer img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.postContainer hr {
  margin-top: 20px;
  border: none;
  height: 1px;
  background-color: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #dbdbdb;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  color: #333;
}

.noPostsMessage {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-top: 20px;
}
