/* 검색 결과 컨테이너 */
.profileContainer {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  flex-wrap: wrap;
  gap: 30px; /* 카드 간 간격 */
  margin: 20px auto;
}

/* 프로필 이미지 */
.profilePic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* 사용자 정보 */
.profileInfo {
  text-align: center;
}

.profileId {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.profileNickname {
  font-size: 14px;
  color: #777;
}

/* 페이징 버튼 */
.pagingButton {
  background-color: #df919e;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagingButton:hover {
  background-color: #c7727e;
}

.customBtn {
  margin: 0 10px;
}
