.container {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 섹션 간 간격을 유지 */
  align-items: flex-start; /* 왼쪽 섹션과 오른쪽 섹션의 수직 정렬 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.leftSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* 왼쪽 섹션의 너비 설정 */
  margin-right: 20px; /* leftSection과 rightSection 간의 간격 */
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 65%; /* 오른쪽 섹션의 최대 너비를 설정 */
  gap: 20px;
}

.styleBox {
  display: flex;
  flex-direction: column;
  align-items: center; /* 스타일 박스를 중앙 정렬 */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.styleItemsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 그리드로 비율 맞추기 */
  grid-gap: 20px;
  width: 100%;
  justify-items: center; /* 아이템들을 가운데로 정렬 */
}

.productLink {
  padding-top: 15px;
  width: 170px; /* 3:4 비율의 아이템 이미지 */
  height: 170px;
  position: relative;
}

.productLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.productLink:hover img {
  transform: scale(1.05);
}

/* 캐릭터 이미지 부모 요소 - 3:4 비율 유지 */
.characterImgWrapper {
  width: 70%;
  position: relative;
  padding-bottom: 93.33%; /* 3:4 비율 설정 (4 / 3 * 70) */
  overflow: hidden;
}

.characterImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 부모 요소에 꽉 차도록 설정 */
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.styleImg {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); /* 불투명한 흰색 */
  backdrop-filter: blur(2px);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.productLink:hover .hoverOverlay {
  opacity: 1;
}
