.container {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 섹션 간 간격을 유지 */
  align-items: flex-start; /* 왼쪽 섹션과 오른쪽 섹션의 수직 정렬 */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.leftSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* 왼쪽 섹션의 너비 설정 */
  margin-right: 20px; /* leftSection과 rightSection 간의 간격 */
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 65%; /* 오른쪽 섹션의 최대 너비를 설정 */
  gap: 20px;
}

.styleBox {
  display: flex;
  flex-direction: column;
  align-items: center; /* 스타일 박스를 중앙 정렬 */
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.styleItemsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 그리드로 비율 맞추기 */
  grid-gap: 20px;
  width: 100%;
  justify-items: center; /* 아이템들을 가운데로 정렬 */
}

.productLink {
  padding-top: 15px;
  width: 170px; /* 3:4 비율의 아이템 이미지 */
  height: 170px;
  position: relative;
}

.productLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.productLink:hover img {
  transform: scale(1.05);
}

.characterNav {
  cursor: pointer;
}

.movePage {
  display: inline-block;
  transition: transform 0.3s ease; /* 애니메이션 속도와 스타일 */
}

.movePage:hover {
  transform: scale(1.1); /* 마우스를 올렸을 때 살짝 커지게 설정 */
}

.noStyleMessage {
  padding-top: 50%;
  text-align: center;
}

/* 캐릭터 이미지 부모 요소 - 3:4 비율 유지 */
.characterImgWrapper {
  width: 70%;
  position: relative;
  padding-bottom: 93.33%; /* 3:4 비율 설정 (4 / 3 * 70) */
  overflow: hidden;
}

.characterImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 부모 요소에 꽉 차도록 설정 */
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.styleImg {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hoverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); /* 불투명한 흰색 */
  backdrop-filter: blur(2px);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.productLink:hover .hoverOverlay {
  opacity: 1;
}

/* Sub.module.css */

.uiBookmark {
  --icon-size: 24px;
  --icon-secondary-color: #c6c3bd;
  --icon-hover-color: #a8a5a0;
  --icon-primary-color: #c7727e;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

.uiBookmark {
  display: flex;
  align-items: center; /* Vertical alignment of the bookmark */
}

.likeCount {
  margin-left: 5px; /* Spacing between the like count and icons */
}

.bookmark {
  margin: 0;
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-origin: top;
}

.bookmark::after,
.bookmark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.scrapSection {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 방향 중앙 정렬 */
  align-items: center; /* 가로 방향 중앙 정렬 */
  margin-top: 20px;
  text-align: center; /* 텍스트도 중앙 정렬 */
}

.bookmark::after {
  width: 10px;
  height: 10px;
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color);
  transform: scale(0);
  padding: 1px;
}

.bookmark::before {
  border: var(--icon-circle-border);
  opacity: 0;
}

.uiBookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.uiBookmark input:checked + .bookmark::after {
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation-delay: var(--icon-anmt-duration);
}

.uiBookmark input:checked + .bookmark {
  fill: var(--icon-primary-color);
  animation: bookmark var(--icon-anmt-duration) forwards;
  transition-delay: 0.3s;
}

@keyframes bookmark {
  50% {
    transform: scaleY(0.6);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes circles {
  from {
    transform: scale(0);
  }
  40% {
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}
