.profileContainer {
  background-color: #f4f4f9;
  border-radius: s0px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profileActions {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileActionLink,
.editButton {
  display: inline-block; /* 변경: block에서 inline-block으로 */
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  max-width: 200px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  font-size: 1em;
}

.profileActionLink {
  background-color: #007bff;
  color: white;
}

.profileActionLink:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.editButton {
  background-color: #6c757d; /* 회색 배경 */
  color: white;
  border: none;
}

.editButton:hover {
  background-color: #5a6268;
  transform: translateY(-2px);
}

.followInfo {
  font-size: 1em;
  color: #007bff;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.followLink {
  text-decoration: none;
  color: #007bff;
}

.followLink:hover {
  text-decoration: underline;
}
