/* 체크박스 스타일 */
.cbx {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #0043ed; /* 라디오 버튼과 동일한 테두리 색상 */
  border-radius: 5px;
  transition: background 0.2s ease;
  cursor: pointer;
  display: block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  top: 3px;
}

.cbx:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 7px;
  height: 9px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #0043ed;
  border-bottom: 2px solid #0043ed;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}

#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #dee7ff;
  animation: jelly 0.4s ease;
}

#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.cntr {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.hidden-xs-up {
  display: none !important;
}

@keyframes jelly {
  from {
    transform: scale(1, 1);
  }

  20% {
    transform: scale(1.3, 0.7);
  }

  40% {
    transform: scale(0.7, 1.3);
  }

  60% {
    transform: scale(1.1, 0.9);
  }

  80% {
    transform: scale(0.9, 1.1);
  }

  to {
    transform: scale(1, 1);
  }
}

/* 라디오 버튼 스타일 */
.radio-input {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가운데 정렬 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: white;
  border-color: #b8d2f1;
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: #b8d2f1;
  color: #333;
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}
