h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formGroup {
  width: 100%;
  max-width: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.formGroup.inline {
  display: flex;
  align-items: center; /* input과 %를 세로로 맞춤 */
}

label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d9e6;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #a4c0e4;
  outline: none;
}

.inline input[type="number"] {
  width: calc(100% - 50px); /* 퍼센트 기호 공간을 확보 */
}

span {
  font-size: 16px;
  margin-left: 5px; /* % 기호와 input 사이에 여백 */
}

.button {
  background-color: #4a4a4a;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #333;
}
